<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.university.management.login.mapper.Loginmapper">

<select id="emplogin" parameterType="map" resultType="com.university.management.employee.dto.Employee">

select * from employee
where EMP_NAME =#{loginid}and EMP_PASSWORD =#{loginPassword};


</select>

<select id="studentLogin" parameterType="map" resultType="com.university.management.student.dto.Student">




select s.STU_NO,s.DEPT_CODE,s.STU_NAME,s.STU_PHONE,s.STU_ADDRESS,s.STU_JUMIN,s.STU_EMAIL,s.STU_IMG,s.STU_ADMISSION_DATE,s.STU_ADMISSION,s.STU_GRADE,s.STU_PASSWORD,s.STU_BK_NUM,s.SCH_STATUS,s.DEPT_CODE,d.DEPT_NAME from student s
join department d on(s.dept_code=d.dept_code)
where STU_NO =#{loginid} and STU_PASSWORD =#{loginPassword};

</select>



<update id="pwschange" parameterType="map">

update student set STU_PASSWORD=#{STU_PASSWORD} where stu_no=#{STU_NO}


</update>


</mapper>