--
 
everytime3.css -- /* 댓글 작성 창 길이 조정 */
        .form-controls-container .file-upload-section {
	display: flex;
	align-items: center;
	width: 80%;
}

.form-control {
	width: 100%;
}

#commentInput {
	flex: 1;
	margin-right: 10px;
}

.form-control {
	width: 950px;
}

.body {
	height: 100%;
}

.header2 {
	margin-left: 00px;
}

.textarea.form-control2 {
	resize: none;
	overflow: auto;
	width: 700px;
	height: 300px;
	/
}

.file-upload-section {
	width: 700px;
}

.btn1 {
	background-color: rgb(2, 76, 134);
	color: #ffffff;
	border: none;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	width: 90px;
	height: 40px;
	text-align: center;
	display: block;
	margin: 10px auto;
	margin-left: 30px;
}

.btn3 {
	background-color: rgb(2, 76, 134);
	color: #ffffff;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	width: 90px;
	height: 40px;
	text-align: center;
	display: block;
}

.box {
	background-color: rgb(2, 76, 134);
	color: white;
	border: none;
	width: 1000px;
	height: 80px;
	font-size: 40px;
	font-weight: bold;
	pointer-events: none;
}

.form-control1, .form-control2, .form-control3 {
	border: none;
	background-color: #ffffff;
	pointer-events: none;
}

.form-control1 {
	height: 80px;
	width: 1000px;
	font-size: 20px;
}

.form-control2 {
	height: 650px;
	width: 1000px;
	font-size: 20px;
}

.form-control3 {
	height: 100px;
	width: 1000px;
	font-size: 15px;
	border-top: none;
}

.form-controls-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #c9c9c9;
	border-top: none;
	width: 1000px;
}

.form-controls-container .file-upload-section {
	display: flex;
	align-items: center;
	width: 80%;
}

.downbtn {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.horizontal-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
}

.profile-section {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.profile-section .프로필사진 {
	margin-right: 10px;
}

.stats-section {
	display: flex;
	align-items: center;
}

.stat-item {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.button-img {
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 5px;
}

.button-img.clicked {
	cursor: not-allowed;
	opacity: 0.5;
}

.counter {
	font-size: 16px;
}

.프로필사진 {
	width: 40px;
	height: 40px;
}

.detailchang {
	margin-left: 400px;
	height: 300px;
}

.container {
	
}