@charset "UTF-8";

/* home */

.news {
	margin-bottom: 100px;
}

.news a {
	text-decoration: none;
	color: black
}

main .top {
	border-top: 6px solid #024C86;
}

main h1 {
	margin-bottom: 100px;
}

main .article {
	padding: 20px 20px;
	background-color: #eee;
}

main .main-news img {
	margin: 0px;
}

main .readmore {
	margin-top: 150px;
}

.news .readmore a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

main .sub-menu {
	margin-top: 20px;
}

main .sub-article1 {
	height: 300px;
	padding-right: 20px;
	padding-top: 50px;
}

main .sub-article2 {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .sub-article1 {
	padding-right: 20px;
	padding-top: 50px;
}

main .sub-news {
	margin-bottom: 20px;
}

main .article {
	padding: 20px 20px;
	background-color: #eee;
}

main .main-news img {
	margin: 0px;
}

main .readmore {
	margin-top: 150px;
}

.news .readmore a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

main .sub-menu {
	margin-top: 20px;
}

main .sub-article1 {
	height: 300px;
	padding-right: 20px;
	padding-top: 50px;
}

main .sub-article2 {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .sub-article1 {
	padding-right: 20px;
	padding-top: 50px;
}

main .sub-news {
	margin-bottom: 20px;
}

/* ideology */

.school-ideology{
	margin-bottom: 100px;
}
.school-ideology .title{
    margin: 100px auto;
    text-align: center;
}
.school-ideology .title h2{
    margin-bottom: 10px;
}
.goal-row{
    margin-bottom: 30px;
}
.goal{
    border-bottom: 3px solid #b8b8b8;
    padding-bottom: 10px;
}

.goal-row h2{
    font-weight: bold;
    color: #024C86;
}
.goal-row p, h5{
    margin: 0;
}
.school-ideology .goal{
    margin: auto;
    display: flex;
    gap: 10px;
}
