@charset "UTF-8";

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON%20Lv1%20Gothic%20OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 400;
    height: 100%;
}

/* homeheader */
.header {
    z-index: 9999;
    position: absolute;
    width: 100%;
}

.header .logo{
    display: flex;
    justify-content: start;
    padding-top: 5px;
}

.header .logo-box{
    width: 190px;
    height: 30px;
}

.header .opq-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, .2);
}
.header .opq-header2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, .2);
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header li {
    padding-top: 5px;
    list-style: none;
    margin-left: 10px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.header .opq-header .col {
    display: flex;
    justify-content: end;
}

.header .opq-header2 .col {
    display: flex;
    justify-content: end;
}

#login-btn {
    padding: 5px 10px;
    background-color: #024C86;
    border-radius: 5px;
    border: #024C86;
}

.opq-header-sub {
    position: fixed;
    z-index: 888;
    top: 65px;
    left: 0;
    right: 0;
    display: none;
    padding: 15px 0px;
    background: white;
    border-top: 2px solid #eee;
}
.opq-header-sub ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 30px;
}
.opq-header-sub li{
    margin-left:    0px;
}

.opq-header-sub a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.opq-header-sub .divide::after {
    color: #024C86;
    padding-left: 30px;
    content: "|";
}

/* footer */
footer {
    background-color: #464646;
    color: #ffffff;
}

footer .footer-nav {
    padding: 10px 0px;
}

footer ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

footer .hr {
    background-color: #333333;
    height: 1px;
}

footer .footer-detail {
    padding: 50px 0px;
}

footer .address {
    color: #838383;
}

footer #copyright {
    color: #838383;
}