@charset "UTF-8";




.row {
	padding: 5px;
}

.col-6 {
	text-align: left;
}

span {
	display: inline-block;
	width: 100px;
}

.box {
	height: 500px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.box_1 {
	margin-top:30px;
}

.box_2 {
	width:700px ;
	margin-left: auto;
	margin-right: auto;
	
}

.box_3 {
	margin-top:30px;
}
