@charset "UTF-8";
/* objection */
.container{
	
}
#sub-menubar {
	margin-left: 50px;
	background-color: #024C86;
	margin-top: 110px;
	width: 200px;
	height: 330px;
	float: left;
}

#menulist {
	text-decoration: none;
	list-style: none;
	font-weight: bold;
	align-items: center;
	margin-top: 10px;
}

#menulist a {
	text-decoration: none;
	color: white;
}

#menulist a:hover {
	border-bottom: 1px solid;
	border-bottom-color: white;
}

#menulist li {
	margin: 20px 0px;
}

/* container */
#pagetitle {
	
	border-bottom: 3px solid;
	border-bottom-color: #024C86;
}

#pageContent {
	margin-top: 20px;
}

#selecttable {
	margin-top: 40px;
	vertical-align: middle;
}

#tablelist{
	margin-top:20px;
	margin-bottom:60px;
}

#midtitle {
	margin-top:15px;
	text-align: left;
	font-weight: bold;
}

.btn {
	text-align: center;
	width: 60px;
	height: 30px;
}

/* objectionWrite page */
.contentView {
	text-align: left;
}

.contentView table {
	align: center;
}

.wirteTable {
	margin-top: 100px;
	margin-left: 400px;
	border: 2px solid #024C86;
	border-radius: 50px;
	text-align: top !important;
}

.contentbox {
	width: auto !important;
}

.titlebox {
	width: auto !important;
}

.btnbox {
	margin-right: 250px;
}