@charset "UTF-8";
#sub-menubar {
	margin-left: 50px;
	background-color: #024C86;
	margin-top: 160px;
	width: 200px;
	height: 150px;
	float: left;
}

#menulist {
	text-decoration: none;
	list-style: none;
	font-weight: bold;
	align-items: center;
	margin-top: 10px;
}

#menulist a {
	text-decoration: none;
	color: white;
}

#menulist a:hover {
	border-bottom: 1px solid;
	border-bottom-color: white;
}

#menulist li {
	margin: 20px 0px;
}

/* pagetitle */
#pagetitle {
	margin-top: 50px;
	border-bottom: 3px solid;
	border-bottom-color: #024C86;
}

#pageContent {
	margin-top: 20px;
}

#selectMenu {
	justify-content: space-between;
	display: flex;
	margin-top: 40px;
}

#selectSearch {
	margin: 0 10 0 10;
	display: flex;
}

#selectSearch select {
	margin-left: 20px;
}

#selectTable {
	margin-top: 40px;
	vertical-align: middle;
	text-align: center;
}

.btn {
	text-align: center;
	width: 60px;
	height: 30px;
}