/* video.css */
body {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #024C86;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5em;
}

.header-title {
    font-size: 1.2em;
}

.header-right {
    font-size: 0.9em;
}

.content-container {
    display: flex;
}

.video-section {
    width: 85%;
    text-align: center;
    background-color: #024C86;
    padding-left: 20px; 
}

.sidebar {
    width: 15%;
    background-color: #024C86;
    padding: 10px;
    
}

.sidebar-header {
    font-weight: bold;
    margin-right: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    font-size: 15px;
    background-color: RGB(231, 240, 254);
    text-align: center;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #95a5a6;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #024C86;
    color: white;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.footer-container span {
    margin-right: 10px;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.page-navigation input {
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.page-navigation button {
    background-color: #34495e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.page-navigation button:hover {
    background-color: #2c3e50;
}
