@charset "UTF-8";

table {
	margin: auto;
	margin-top: 100px
}

input[type="file"] {
	border: 1.5px rgb(68, 136, 244) solid;
	width: 500px;
	
	border-radius: 5px;

}

input[type="text"] {
	border: 1.5px rgb(68, 136, 244) solid;
	width: 500px;
	height: 30px;
	border-radius: 5px;
	padding-left: 10px;
}

textarea {
	border: 1.5px rgb(68, 136, 244) solid;
	width: 500px;
	height: 250px;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 10px;
	resize: none;
}

.header {
	height: 30px;
}

input[type="submit"] {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	padding-left: 10px;
	background-color: #024C86;
}

input[type="reset"] {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	padding-left: 10px;
	background-color: #024C86;
}

input[type="button"] {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	padding-left: 10px;
	background-color:#024C86;
}

input[type="submit"]:active {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	outline: 1.5px rgb(27, 76, 155) solid;
	padding-left: 10px;
	background-color: rgb(68, 136, 244);
}