@charset "UTF-8";

/* home */

.slogan-box{
	position: relative;
}
.slogan{
	color:white;
	position:absolute;
	z-index: 2;
	top: 300px;
	left: 430px;
	
}
.slogan h1{
	font-size: 55px;
}

.article {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.news {
    padding-top: 100px;
    padding-bottom: 100px;
}

.news a {
    text-decoration: none;
    color: black
}

.news .title {
    font-size: 26px;
    margin-bottom: 10px;
}

#section1 {
    background-color: #eee;
}

main .top {
    border-top: 6px solid #024C86;
}

main h1 {
    margin: 0px 0px 90px 0px;
    font-weight: bold;
}

#main-img {
    margin: 0px;
}

main .readmore {
    margin-top: 150px;
}

.news .readmore a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

main .sub-menu {
    margin-top: 20px;
}

main .sub-article1 {
    height: 300px;
    padding-right: 20px;
    padding-top: 50px;
}

main .sub-article2 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .sub-news {
    margin-bottom: 20px;
}

main .article {
    padding: 20px 20px;
    background-color: white;
}

main .main-news img {
    margin: 0px;
}

main .readmore {
    margin-top: 110px;
}

main .readmore2 {
    margin-top: 75px;
}

main #readmore {
    margin-top: 110px;
    font-weight: bold;
}

.news .readmore a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

main .sub-menu {
    margin-top: 20px;
}

main .sub-article1 {
    height: 300px;
    padding-right: 20px;
    padding-top: 50px;
}

main .sub-article2 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .sub-article1 {
    padding-right: 20px;
    padding-top: 50px;
}

main .sub-news {
    margin-bottom: 20px;
}

.new2 {
    display: flex;
    justify-content: center;
}

.news .content {
    color: #adadad;
}

.section2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #eee;
}

.section2 .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.section2 .content {
    color: #adadad;
    font-size: 14px;
}

#section2 h1 {
    margin-bottom: 90px;
    font-weight: bold;
}

#section2 h4 {
    margin-bottom: 20px;
    font-weight: bold;
}

#section2 .article {
    height: 180px;
    padding: 20px 20px;
    background-color: white;
    padding: 20px 20px;
}

#section3 {
    position: relative;
}

.bottom {
    border-bottom: 6px solid #024C86;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#banner-content {
    position: absolute;
    color: white;
    top: 75px;
    left: 300px;
}

/* ideology */
.school-ideology {
    margin-bottom: 100px;
}

.school-ideology .ideology-img{
    width: 700px;
    height: 500px;
}

.school-ideology .title {
    margin: 100px auto;
    text-align: center;
}

.school-ideology .title h2 {
    margin-bottom: 10px;
}

.goal-row {
    margin-bottom: 30px;
}

.goal {
    border-bottom: 3px solid #b8b8b8;
    padding-bottom: 10px;
}

.goal-row h2 {
    font-weight: bold;
    color: #024C86;
}

.goal-row p, h5 {
    margin: 0;
}

.school-ideology .goal {
    margin: auto;
    display: flex;
    gap: 10px;
}