<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.university.management.professor.mapper.ProfessorMapper">

	<select id="proselect" parameterType="String"
		resultType="com.university.management.professor.dto.Professor">

		WITH RankedProfessors AS (
		SELECT
		p.PROF_IMG,
		p.PROF_NAME,
		d.DEPT_NAME,
		p.PROF_JOB,
		p.PROF_PHONE,
		s.SUB_NAME,
		p.PROF_EMAIL,
		d.DEPT_CODE,
		ROW_NUMBER() OVER (PARTITION BY p.PROF_NAME ORDER BY p.PROF_NAME) AS r
		FROM
		subject s
		JOIN
		DEPARTMENT d ON s.DEPT_CODE = d.DEPT_CODE
		JOIN
		PROFESSOR p ON s.PROF_NO = p.PROF_NO
		<if test="department == null">
			where d.DEPT_CODE='COMP'
		</if>
		<if test="department != null">
			where d.DEPT_CODE='${department}'
		</if>
		)
		SELECT
		PROF_IMG,
		PROF_NAME,
		DEPT_NAME,
		PROF_JOB,
		PROF_PHONE,
		SUB_NAME,
		PROF_EMAIL,
		DEPT_CODE
		FROM
		RankedProfessors
		WHERE
		r = 1;
	</select>

</mapper>