<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.university.management.president.mapper.PresidentMapper">

	<select id="getAllList" parameterType="map"
		resultType="com.university.management.board.dto.Board">
		SELECT * FROM board WHERE TYPE = "c" ORDER BY CREATE_DATE
		DESC
		LIMIT #{listLimit}
		OFFSET #{firstRow}
	</select>

	<select id="getBoardByNo" parameterType="int"
		resultType="com.university.management.board.dto.Board">
		SELECT * FROM board WHERE TYPE = "c" AND BO_NO = #{bo_no}
	</select>

	<insert id="insertboard"
		parameterType="com.university.management.board.dto.Board">
		INSERT INTO BOARD(stu_no, title, content, type,
		create_date) VALUES (#{stu_no},#{title},#{content},"C", default)
	</insert>

	<select id="getPresidentCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		WHERE TYPE = 'C'
	</select>


</mapper>