<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.university.management.board.mapper.BoardMapper">

	<resultMap type="com.university.management.board.dto.Board"
		id="boardListResultMap">
		<id property="bo_no" column="BO_NO" />                         		<!-- 게시판 인덱스 -->
		<result property="stu_no" column="STU_NO" />                   		<!-- 학번 -->
		<result property="emp_no" column="EMP_NO" />       					<!-- 교직원 번호 -->
		<result property="emp_name" column="EMP_NAME" />              			<!-- 교직원 이름 -->
		<result property="title" column="TITLE" />                     		<!-- 제목 -->
		<result property="content" column="CONTENT" />                 		<!-- 내용 -->
		<result property="type" column="TYPE" />                       		<!-- 타입 -->
		<result property="originalFileName" column="ORIGINAL_FILENAME" /> 	<!-- 파일 업로드 -->
		<result property="renamedFileName" column="RENAMED_FILENAME" /> 	<!-- 수정 파일 업로드 -->
		<result property="readCount" column="READCOUNT" />            		<!-- 조회수 -->
		<result property="create_date" column="CREATE_DATE" />         	 	<!-- 작성 날짜 -->
		<result property="modify_date" column="MODIFY_DATE" />          		<!-- 수정 날짜 -->
		<result property="boLike" column="BO_LIKE" />                  		<!-- 좋아요 버튼 -->
	</resultMap>


	<!-- <resultMap type="Reply" id="boardReplyResultMap"> <id property="no" 
		column="NO" /> <result property="boardNo" column="BOARD_NO" /> <result property="writerNo" 
		column="WRITER_NO" /> <result property="writerId" column="ID" /> <result 
		property="content" column="CONTENT" /> <result property="createDate" column="CREATE_DATE" 
		/> <result property="modifyDate" column="MODIFY_DATE" /> </resultMap> -->

	<!-- <resultMap type="com.university.management.board.dto.Board" id="boardDetailResultMap" 
		extends="boardListResultMap"> <collection property="replies" javaType="arrayList" 
		resultMap="boardReplyResultMap" columnPrefix="R_" /> </resultMap> -->

	<!-- 공지사항 전체 목록 갯수 조회 -->
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM
		BOARD
		WHERE TYPE = 'G';
	</select>

	<select id="getBoardListCount" parameterType="java.util.Map"
		resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN EMPLOYEE E ON B.EMP_NO = E.EMP_NO
		WHERE TYPE = 'G'
		<if test="writer != null">
			AND E.EMP_NAME LIKE CONCAT ('%', #{writer}, '%')
		</if>
		<if test="title != null">
			AND B.TITLE LIKE CONCAT ('%',#{title},'%')
		</if>
	</select>

	<!-- 공지사항 전체 목록 조회 -->
	<select id="selectBoardList" parameterType="java.util.Map"
		resultType="com.university.management.board.dto.Board">
		SELECT *
		FROM (
		SELECT B.BO_NO,
		E.EMP_NAME,
		B.TITLE,
		B.CONTENT,
		B.READCOUNT,
		B.CREATE_DATE,
		B.MODIFY_DATE,
		B.BO_LIKE
		FROM BOARD B
		JOIN EMPLOYEE E ON B.EMP_NO = E.EMP_NO
		WHERE TYPE = 'G'
		<if test="writer != null">
			AND E.EMP_NAME LIKE CONCAT ('%', #{writer}, '%')
		</if>
		<if test="title != null">
			AND B.TITLE LIKE CONCAT ('%',#{title},'%')
		</if>
		ORDER BY BO_NO DESC
		) T1
		LIMIT #{firstRow}, #{listLimit};
	</select>

	<!-- 공지사항 전체 목록 조회 -->
	<select id="selectBoardListPage" parameterType="java.util.Map"
		resultType="com.university.management.board.dto.Board">
		SELECT B.BO_NO,
		E.EMP_NAME, B.TITLE, B.CONTENT, B.READCOUNT,
		B.CREATE_DATE, B.MODIFY_DATE,
		B.BO_LIKE
		FROM BOARD B
		JOIN EMPLOYEE E ON
		B.EMP_NO = E.EMP_NO
		WHERE TYPE = 'G'
		<!-- <if test="writer != null"> AND E.EMP_NAME LIKE CONCAT('%', ${writer}, 
			'%') </if> <if test="title != null"> AND B.TITLE LIKE CONCAT('%', ${title}, 
			'%') </if> -->
		ORDER BY BO_NO DESC
		LIMIT #{listLimit} OFFSET #{firstRow}
	</select>

	<!-- 상세페이지 이동을 위한 게시글 번호 조회 -->
	<select id="findByNo" parameterType="int"
		resultType="com.university.management.board.dto.Board">
		SELECT B.BO_NO,
		E.EMP_NAME,B.TITLE,B.CONTENT,B.READCOUNT,B.CREATE_DATE, B.MODIFY_DATE,
		B.BO_LIKE
		FROM BOARD B
		JOIN EMPLOYEE E ON B.EMP_NO = E.EMP_NO
		WHERE TYPE
		= "G" AND BO_NO = ${no}
	</select>

	<!-- 조회수 -->
	<update id="readCount" parameterType="int">
		UPDATE BOARD SET READCOUNT
		= READCOUNT+1
		WHERE BO_NO = #{bo_no}
	</update>

	<select id="empSelect" parameterType="String" resultType="int">
		SELECT
		EMP_NO FROM EMPLOYEE
		WHERE EMP_NAME = #{emp_name}
	</select>

	<!-- 공지사항 추가 -->
	<insert id="insertWrite" parameterType="Board">
		INSERT INTO BOARD
		(EMP_NO, TITLE, CONTENT, TYPE, ORIGINAL_FILENAME, READCOUNT) VALUES
		(#{emp_no},#{title},#{content},'G',#{originalFilename}, 0)
	</insert>





</mapper>